## Лабораторная работа по курсу «Python для анализа данных»

### При выполнении работы допускается использование любых внешних модулей и пакетов. Готовые решения принимаются в виде ссылки на GitHub.

#### Задача 1

Дана строка:

In [163]:
string_01 = "History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books-books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?"

1. Посчитайте, сколько в строке символов, исключая пробелы:

In [164]:
len(string_01.replace(' ', ''))

224

In [165]:
len(string_01) - string_01.count(' ')

224

2. Посчитайте, сколько в строке слов.

In [166]:
len(string_01.split())

44

In [176]:
len(re.findall(r'\w+', string_01))

45

3. Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

In [172]:
import re

def find_words(string, char):
    string = re.sub(r'[\(\)\'\"!.,?-]', '', string) # убрать из строки все не буквы, кроме пробелов        
#     words = [word for word in string.split() if word[0] == char[0]]      
#     или
    words = [word for word in string.split() if word.startswith(char[0])]
    

    print(words)
    
find_words(string_01, "w")
find_words(string_01, "W")
find_words(string_01, "f")
find_words(string_01, "s")
find_words(string_01, "sssss")
find_words(string_01, "a")

['written', 'winners', 'winner', 'writes', 'which']
['When', 'What']
['foe', 'fable']
['said']
['said']
['always', 'and', 'and', 'a', 'agreed']

In [174]:
import re

def find_words2(string, char):
    string = re.sub(r'[\(\)\'\"!.,?-]', '', string) # убрать из строки все не буквы, кроме пробелов        
# string = re.sub('[^\w\s]', '', string)
    pattern = re.compile(r'\b'+char[0]+r'\w+')
#     print(pattern)
    words = re.findall(pattern, string) 

    print(words)
    
find_words2(string_01, "w")
find_words2(string_01, "W")
find_words2(string_01, "f")
find_words2(string_01, "s")
find_words2(string_01, "sssss")
find_words2(string_01, "a")

['written', 'winners', 'winner', 'writes', 'which']
['When', 'What']
['foe', 'fable']
['said']
['said']
['always', 'and', 'and', 'agreed']

#### Задача 2

Напишите код, который будет генерировать случайную последовательность из 6 цифр, одна из которых должна быть 3. Позиция цифры 3 должна
определяться случайным образом. Результат должен быть строкой. Например: "456309" или "330127".

In [147]:
import random
numbers = [random.randint(0,9) for i in range(6)]  # список из 6 случайных цифр
if 3 not in numbers: # если тройка не попалась
    numbers[0] = 3   # заменить одну из цифр на 3
random.shuffle(numbers) # перемешать
string = ''.join(map(str,numbers)) # преобразовать в строку
string

'538066'

In [200]:
import random 
number = ''
while '3' not in number:
    number = ''.join([str(random.randint(0, 9)) for i in range(6)])
number

'537649'

#### Задача 3

Дан список:

In [49]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит сумму элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [52]:
list_02 = [i for i in list_01 if (100 > i > 10) or (500 > i > 200)]
# print(list_02)
sum(list_02)

1291

In [201]:
sum([i for i in list_01 if (100 > i > 10) or (500 > i > 200)])

1291

#### Задача 4

Данные студентов представлены в виде списка списков:

In [78]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [79]:
students_dict = {student[0]:student[1:] for student in students}
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

2. Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый.

In [204]:
def change_group(students, student_num, new_group):    
    students[student_num].pop(-1) # убрать последний элемент списка - номер группы
    students[student_num].append(new_group)    
    return students
    
    
students_dict = change_group(students_dict, '0607', 'БСТ161')
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ161']}

In [205]:
def change_group2(students, student_num, new_group):    
    students[student_num][-1] = new_group
    return students
    
    
students_dict = change_group2(students_dict, '0607', 'БСТ111')
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ111']}

3. Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы.

In [93]:
def print_group_list(students, group):
    print(f'Студенты группы {group}:')
    for student in students.values():
        if student[-1] == group:
            print(student[0], student[1], student[2])
print_group_list(students_dict, 'БСТ161')

Студенты группы БСТ161:
Антонов Антон Игоревич
Степанова Наталья Александровна
Боков Игорь Харитонович
Сиропова Виолетта Эдуардовна

#### Задача 5

Дана матрица:

In [95]:
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

1. Выведите результат сложения всех элементов матрицы.

In [99]:
sum([sum(i) for i in matrix])

89

In [209]:
import numpy as np
np.array(matrix).sum()

89

In [210]:
np.sum(matrix)

89

2. Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [148]:
column_sum = [0]* len(matrix[0])
for i in range(len(matrix[0])):
    for j in range(len(matrix)):
        column_sum[j] += matrix[i][j]
max(column_sum)

22

In [213]:
max(np.sum(matrix, axis=0)) # axis=0 по столбцам

22

In [220]:
max(np.sum(np.array(matrix).T, axis=1))

22