# Домашнее задание к лекции "Библиотека Pandas"

## Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd


# MovieLens 1M Dataset https://grouplens.org/datasets/movielens/1m/
rating_data = pd.read_csv('ml-1m/ratings.dat', engine='python', header=0, names=['UserID', 'MovieID', 'Rating', 'Timestamp'],sep = '::')
movie_name_data = pd.read_csv('ml-1m/movies.dat', engine='python', header=0, names=['MovieID', 'Title','Genre'], sep = '::')
movie_data = rating_data.merge(movie_name_data, on='MovieID', how='left')
# rating_data.head()
# movie_name_data.head()
movie_data.head()

,UserID,MovieID,Rating,Timestamp,Title,Genre
0,1,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical
1,1,914,3,978301968,My Fair Lady (1964),Musical|Romance
2,1,3408,4,978300275,Erin Brockovich (2000),Drama
3,1,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy
4,1,1197,3,978302268,"Princess Bride, The (1987)",Action|Adventure|Comedy|Romance

In [2]:
movie_data[movie_data.Rating==5].Title.value_counts().head()

American Beauty (1999)                                   1963
Star Wars: Episode IV - A New Hope (1977)                1826
Raiders of the Lost Ark (1981)                           1500
Star Wars: Episode V - The Empire Strikes Back (1980)    1483
Schindler's List (1993)                                  1475
Name: Title, dtype: int64

Наибольшее количество оценок 5 выставлено фильму 'American Beauty (1999)'

## Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [3]:
power_data = pd.read_csv('power.csv')
Baltic_country = ['Latvia', 'Lithuania', 'Estonia']
category = [4, 12, 21]
# power_data[power_data.country in Baltic_country].head()
# power_data[power_data['country'].str.contains('Esto', case=False) ]['country'].unique()
power_data[power_data.country.isin(Baltic_country) \
           & power_data.category.isin(category) \
           & (power_data.quantity > 0) ].quantity.sum()

970728.0

## Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [4]:
page_url = 'https://www.finanz.ru/aktsii/realnom-vremeni-spisok/micex'
df = pd.read_html(page_url, attrs = {'class': 'quote_list'}, encoding='utf-8')[0]

In [5]:
df.head()

,Unnamed: 0,"Имя function __handleSortingClick(componentName, fieldName, sortOrder) { $.ajax({ url: ""/Ajax/IndexShareListForRealtime/MICEX"", type: ""post"", data: ""orderBy="" + componentName + "":"" + fieldName + "":"" + sortOrder, success: function (v, x) { $('#index-list-container').html(v); try { trackPI(); } catch (e) { } }, error: function () { } }); }",ISIN,Пред. закр.,Посл. зн.,Объём,%,+/-,Время
0,NaN,Aeroflot - Russian Airlines,RU0009062285,7328,7420,"1 256 218 831,00","1,26 %",092,18:29:24
1,NaN,ALROSA,RU0007252813,6002,6002,"1 359 789 106,00","0,00 %",000,18:29:24
2,NaN,Credit Bank of Moscow,RU000A0JUG31,531,524,"324 447 049,00","-1,37 %",-007,18:28:37
3,NaN,Federal Grid,RU000A0JPNN9,017,017,"433 104 206,00","-0,13 %",000,18:29:25
4,NaN,GAZPROM PJSC,RU0007661625,18551,18259,"11 676 582 512,00","-1,57 %",-292,18:29:26

In [6]:
del df['Unnamed: 0']
df.columns = ['Имя','ISIN', 'Пред. закр.', 'Посл. зн.', 'Объём', '%', '+/-', 'Время']

In [7]:
df.head()

,Имя,ISIN,Пред. закр.,Посл. зн.,Объём,%,+/-,Время
0,Aeroflot - Russian Airlines,RU0009062285,7328,7420,"1 256 218 831,00","1,26 %",092,18:29:24
1,ALROSA,RU0007252813,6002,6002,"1 359 789 106,00","0,00 %",000,18:29:24
2,Credit Bank of Moscow,RU000A0JUG31,531,524,"324 447 049,00","-1,37 %",-007,18:28:37
3,Federal Grid,RU000A0JPNN9,017,017,"433 104 206,00","-0,13 %",000,18:29:25
4,GAZPROM PJSC,RU0007661625,18551,18259,"11 676 582 512,00","-1,57 %",-292,18:29:26